# SEMANA 03
Rojas Peña Gustavo Daniel

# TEMAS
1. Coleccion de datos
2. Estructuras decisivas y estructuras repetitivas
3. Clases y objetos
4. Funciones

# 1. COLECCIONES

In [106]:
#1.1. Listas
#Es una coleccion de elementos que puede ser ordenada, modficiada, etc.
#Se identifica por los corchetes
#Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [108]:
#Tambien se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [110]:
#Podemos extraer cada elemento por su posicion
print(aula[0])
print(aula[1])
print(aula[2])
print(aula[3])

Bernaola
Chipana
Gomez
Navarro

In [112]:
#Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [114]:
#Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [116]:
#Para eliminar elementos utilizamos el remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [118]:
#Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [120]:
#Para obtener el tamaño utilizamos len()
len(aula)

4

In [122]:
#Para recorrer podemos utilizar una esteructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [124]:
#Para invertir la lista utilizamos reverse()
#Invertir no signfica ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [126]:
#Para ordenar de manera alfabetica utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [128]:
#1.2. Tuplas
#Es una coleccion de elementos ordenada (Ordenado significa que tiene u indeice) que no se pueden modificar, es inalterable
#No se pueden agregar elementos en las tuplas ni eliminar, se identifica por los parentesis
tupla_aula = ('Bernaola', 'Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [130]:
#Se puede extraer un elemento por su posicion
tupla_aula[2]

'Gomez'

In [132]:
#Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [181]:
#1.3. Conjuntos
#Es una coleccion de elementos que no esta ordenado
#Signfica que no tiene un indice
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [183]:
#Se puede recorrer utilizando una estructura repetitiva
#Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Gomez
Chipana
Bernaola
Navarro

In [185]:
#Observacion: No se puede acceder por posicion pues no considera 
#indexacion
#Por ejemplo:
#conjunto_aula[2] devolveria un mensaje de error:

In [187]:
#Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [189]:
#Para agregar utilizamos la funcion add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [191]:
#Para eliminar elementos utilizamos la funcion remove
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [193]:
#1.4. Diccionarios 
#Es una coleccion de elementos, que estan indexados
#No estan ordenados y se pueden modificar
#Son escritos entre llaves y estan formados por pares de elementos 
#INDICE: VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos': 'Gomez','3':'Navarro', '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [195]:
#Del diccionario: diccionario_aula extraer el valor cuyo indice sea cero 
diccionario_aula['0']

'Palomino'

In [196]:
diccionario_aula[2]

'Bernaola'

In [199]:
diccionario_aula["dos"]

'Gomez'

In [201]:
#Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = 'Vilca'
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [203]:
#Para eliminar un elemento se utiliza pop()
#Por ejemplo eliminar el elemento de indice dos ejemplo: Para eliminar a:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [206]:
#Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [208]:
#Para recorrer todos los elementos podemos utilizar for
#En este ejemplo devuelve los indices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [212]:
#Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [273]:
#1.5. EJERCICIO 
#Ejercicio: # 1.5. Ejercicio # Dado una lista de [BERNAL, BERNAOLA, CABALLERO, 
#CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, 
#QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA] 
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista # tiempo: 12 minutos

alumnos =  ['BERNAL', 'BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA'] 
seguir = "si"
while seguir =="si":
    apellido = input("Ingresa el apellido: ").upper()
    for alumno in alumnos:
        if alumno == apellido:
            print("Si forma parte de la lista")
            break
    else:
        print("No esta en la lista")
    seguir = input("seguir adelante?").lower()

Ingresa el apellido:  jawlkfjlas

No esta en la lista

seguir adelante? si
Ingresa el apellido:  jsflkaf

No esta en la lista

seguir adelante? si
Ingresa el apellido:  caballero

Si forma parte de la lista

seguir adelante? no